.mainSlider.outer-swiper {
    // height: 50dvw;
    width: 100%;
    // max-height: 640px;
    aspect-ratio: 3840/2160;

    .swiper {
        height: 100%;

        .swiper-wrapper {
            .swiper-slide {
                position: relative;
                height: inherit;

                .image {
                    height: inherit;

                    img {
                        height: inherit;
                        width: 100%;
                        object-fit: cover;
                    }
                }

                .content {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    padding-left: 5%;
                    transform: translateY(-50%);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 12px;
                    width: 50%;
                    height: 100%;
                    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);

                    h3 {
                        font-size: 54px;
                        color: white;
                    }

                    p {
                        color: white;
                        display: -webkit-box;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                    }

                    .desc {
                        font-weight: 700;
                        font-style: italic;
                    }

                    .date {
                        font-size: 14px;
                        opacity: .8;
                        font-style: italic;
                    }

                    .vote-average {
                        display: flex;
                        align-items: center;
                        gap: 20px;

                        .CircularProgressbar {
                            width: 80px;
                            background-color: rgb(3, 37, 65);
                            border-radius: 50%;
                            border: 8px solid rgb(3, 37, 65);

                            .CircularProgressbar-trail {
                                stroke: #141414;
                            }

                            .CircularProgressbar-path {
                                stroke: white;
                            }

                            text {
                                font-size: 32px;
                                fill: white;
                            }
                        }
                    }

                    .detail-btn {
                        border-bottom: 1px solid white;
                        // background-color: white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 12px;
                        padding: 4px 4px 2px;
                        transition: all .3s linear;

                        span {
                            color: white;
                            // font-size: 18px;
                            font-weight: 700;
                            font-style: italic;
                        }

                        &:hover {
                            padding: 4px 20px 2px 2px;
                            opacity: .7;

                            span {}
                        }
                    }
                }

            }
        }

        .swiper-button-prev,
        .swiper-button-next {
            position: absolute;
            bottom: 10%;
            top: unset;
            transform: translateY(-50%);
            border-radius: 4px;
            overflow: hidden;
            width: 40px;
            height: 40px;
            background: linear-gradient(90deg, rgba(137, 204, 164, 1) 0%, rgba(7, 180, 226, 1) 100%);

            &::after {
                color: white;
                font-size: 28px;
            }

            &:hover {
                &::after {
                    color: rgb(3, 37, 65);
                }
            }
        }

        .swiper-button-prev {
            left: 5%;
        }

        .swiper-button-next {
            right: 5%;
        }
    }
}

.cardSlider-01.outer-swiper {
    .swiper {
        // width: 100%;
        padding-top: 50px;
        margin-top: -50px;
        padding-bottom: 50px;
        margin-bottom: -50px;

        .swiper-wrapper {
            .swiper-slide {

                a {
                    // position: relative;
                    // height: inherit;
                    display: block;
                    border-radius: 4px;
                    overflow: hidden;
                    box-shadow: rgba(158, 158, 158, 0.35) 0px 5px 15px;
                    //Kart animasyonu için bu shadowu kullan
                    // box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
                    // width: 16.7%;
                    aspect-ratio: 2/3;

                    .image {
                        // width: inherit;
                        // height: 100%;

                        img {
                            // width: inherit;
                            // height: 100%;
                            // object-fit: cover;
                        }
                    }

                    .content {
                        position: absolute;
                        bottom: 0;
                        padding: 8px 12px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 12px;
                        width: 100%;
                        height: 35%;
                        background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .6) 80%, rgba(0, 0, 0, 0) 100%);

                        h3 {
                            font-size: 20px;
                            color: white;
                            text-align: center;
                        }

                        p {
                            color: white;
                            display: -webkit-box;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                        }

                    }
                }

                &:hover {
                    scale: 1.2;
                    z-index: 1000;
                transition: all .3s ease-in-out;
                }
            }
        }
    }
}

.cast-slider.outer-swiper {
    .swiper {
        width: 100%;
        padding-top: 50px;
        margin-top: -50px;
        padding-bottom: 50px;
        margin-bottom: -50px;

        .swiper-wrapper {
            .swiper-slide {
                position: relative;
                height: inherit;
                border-radius: 4px;
                overflow: hidden;
                box-shadow: rgba(158, 158, 158, 0.35) 0px 5px 15px;
                width: 16.7%;
                aspect-ratio: 2/3;

                .image {
                    width: inherit;
                    height: 100%;

                    img {
                        width: inherit;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .content {
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 100%;
                    height: 25%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: baseline;

                    p {
                        background-color: rgba(0, 0, 0, .5);
                        box-shadow: rgba(158, 158, 158, 0.35) 0px 5px 15px;
                        padding: 6px 8px;
                        color: white;
                        transition: all 1s linear;


                        &:first-child {
                            text-align: left;
                            align-self: flex-start;
                            border-top-right-radius: 4px;
                            border-bottom-right-radius: 4px;
                            font-size: 18px;
                            font-weight: bold;
                        }

                        &:last-child {
                            text-align: right;
                            align-self: flex-end;
                            border-top-left-radius: 4px;
                            border-bottom-left-radius: 4px;
                            font-style: italic;
                            font-size: 16px;
                        }
                    }
                }

                &:hover {
                    .content {
                        p {
                            width: 100%;
                            border-radius: unset;
                            transition: all 1s linear;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}